In [57]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

# Setup
options = Options()
options.headless = False
driver = webdriver.Chrome(options=options)
driver.get("https://www.capology.com/uk/premier-league/salaries/2021-2022/")
wait = WebDriverWait(driver, 10)
time.sleep(5)

# Optional: Hide sticky navbar
driver.execute_script("""
    const sticky = document.querySelector('.nav-sticky');
    if (sticky) sticky.style.display = 'none';
""")

all_data = []

# Find how many pages exist
pagination_links = driver.find_elements(By.CSS_SELECTOR, "ul.pagination li a.page-link")
page_numbers = [int(link.text) for link in pagination_links if link.text.isdigit()]
total_pages = max(page_numbers)
print(f"ðŸ“„ Total pages found: {total_pages}")

# Loop through each page
for page_num in range(1, total_pages + 1):
    print(f"ðŸ” Scraping page {page_num}...")

    # Wait for table to load
    wait.until(EC.presence_of_all_elements_located((By.CSS_SELECTOR, "table tbody tr")))
    rows = driver.find_elements(By.CSS_SELECTOR, "table tbody tr")

    for row in rows:
        cols = row.find_elements(By.TAG_NAME, "td")
        if len(cols) >= 6:
            player = cols[0].text.strip()
            club = cols[1].text.strip()
            weekly_salary = cols[3].text.strip()
            annual_salary = cols[4].text.strip()
            all_data.append([player, club, weekly_salary, annual_salary])

    # Don't click after last page
    if page_num < total_pages:
        try:
            next_page_btn = wait.until(EC.presence_of_element_located(
                (By.XPATH, f"//ul[contains(@class,'pagination')]//a[text()='{page_num + 1}']")
            ))
            driver.execute_script("arguments[0].scrollIntoView(true);", next_page_btn)
            time.sleep(1)
            driver.execute_script("arguments[0].click();", next_page_btn)
            time.sleep(4)
        except Exception as e:
            print(f"âš ï¸ Could not click page {page_num + 1}: {e}")
            break

driver.quit()

# Save CSV
df = pd.DataFrame(all_data, columns=["Player", "Weekly Salary", "Annual Salary", "Position"])
df.to_csv("premier_league_salaries_2021_2022.csv", index=False)
print("âœ… All done! Data from all pages saved.")

ðŸ“„ Total pages found: 23
ðŸ” Scraping page 1...
ðŸ” Scraping page 2...
ðŸ” Scraping page 3...
ðŸ” Scraping page 4...
ðŸ” Scraping page 5...
ðŸ” Scraping page 6...
ðŸ” Scraping page 7...
ðŸ” Scraping page 8...
ðŸ” Scraping page 9...
ðŸ” Scraping page 10...
ðŸ” Scraping page 11...
ðŸ” Scraping page 12...
ðŸ” Scraping page 13...
ðŸ” Scraping page 14...
ðŸ” Scraping page 15...
ðŸ” Scraping page 16...
ðŸ” Scraping page 17...
ðŸ” Scraping page 18...
ðŸ” Scraping page 19...
ðŸ” Scraping page 20...
ðŸ” Scraping page 21...
ðŸ” Scraping page 22...
ðŸ” Scraping page 23...
âœ… All done! Data from all pages saved.

In [59]:
display(df)

                Player Weekly Salary Annual Salary Position
0    Cristiano Ronaldo     Â£ 515,000  Â£ 28,599,424        F
1      Kevin De Bruyne     Â£ 400,000  Â£ 22,213,145        F
2         David de Gea     Â£ 375,000  Â£ 20,824,824        K
3       RaphaÃ«l Varane     Â£ 340,000  Â£ 18,881,173        D
4        Romelu Lukaku     Â£ 325,000  Â£ 18,048,180        F
..                 ...           ...           ...      ...
557
558
559
560
561

[562 rows x 4 columns]

In [88]:
display(df.head(476))

                Player Weekly Salary Annual Salary Position
0    Cristiano Ronaldo     Â£ 515,000  Â£ 28,599,424        F
1      Kevin De Bruyne     Â£ 400,000  Â£ 22,213,145        F
2         David de Gea     Â£ 375,000  Â£ 20,824,824        K
3       RaphaÃ«l Varane     Â£ 340,000  Â£ 18,881,173        D
4        Romelu Lukaku     Â£ 325,000  Â£ 18,048,180        F
..                 ...           ...           ...      ...
471              Zanka      Â£ 15,000     Â£ 832,993        D
472    Ashley Fletcher      Â£ 15,000     Â£ 832,993        F
473    Emmanuel Dennis      Â£ 15,000     Â£ 832,993        F
474           Ken Sema      Â£ 15,000     Â£ 832,993        M
475

[476 rows x 4 columns]

In [110]:
df.replace('', pd.NA, inplace=True)  # Convert empty strings to NaN
df.dropna(how='all', inplace=True)
df.reset_index(drop=True, inplace=True)

In [114]:
df

                Player Weekly Salary Annual Salary Position
0    Cristiano Ronaldo     Â£ 515,000  Â£ 28,599,424        F
1      Kevin De Bruyne     Â£ 400,000  Â£ 22,213,145        F
2         David de Gea     Â£ 375,000  Â£ 20,824,824        K
3       RaphaÃ«l Varane     Â£ 340,000  Â£ 18,881,173        D
4        Romelu Lukaku     Â£ 325,000  Â£ 18,048,180        F
..                 ...           ...           ...      ...
470           Dan Burn      Â£ 15,000     Â£ 832,993        D
471              Zanka      Â£ 15,000     Â£ 832,993        D
472    Ashley Fletcher      Â£ 15,000     Â£ 832,993        F
473    Emmanuel Dennis      Â£ 15,000     Â£ 832,993        F
474           Ken Sema      Â£ 15,000     Â£ 832,993        M

[475 rows x 4 columns]

In [ ]:
df.to_csv('